<div class="page-breadcrumb">
  <div class="row align-items-center">
    <div class="col-12">
      <!-- <h4 class="page-title">Dashboard</h4> -->
      <div class="d-flex align-items-center">
        <!-- <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
          </ol>
        </nav> -->

        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active" aria-current="./scrapsummary">scrapsummary</li>
          </ol>
        </nav>

        <!-- <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Library</a></li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
          </ol>
        </nav> -->
        <!-- <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="/angular/src/app/card/card.component.html">Card</a></li>
            <li class="breadcrumb-item active" aria-current="page">table</li>
          </ol>
        </nav> -->
        <!-- <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Card</a></li>
            <li class="breadcrumb-item"><a href="#">table</a></li>
            <li class="breadcrumb-item active" aria-current="page">Client Card</li>
          </ol>
        </nav>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Card</a></li>
            <li class="breadcrumb-item"><a href="#">table</a></li>
            <li class="breadcrumb-item"><a href="#">Client Card</a></li>
            <li class="breadcrumb-item active" aria-current="page">Competitor</li>
          </ol>
        </nav>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Card</a></li>
            <li class="breadcrumb-item"><a href="#">table</a></li>
            <li class="breadcrumb-item"><a href="#">Client Card</a></li>
            <li class="breadcrumb-item"><a href="#">Competitor</a></li>
            <li class="breadcrumb-item active" aria-current="page">Competitor Product</li>
          </ol>
        </nav>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Card</a></li>
            <li class="breadcrumb-item"><a href="#">table</a></li>
            <li class="breadcrumb-item"><a href="#">Client Card</a></li>
            <li class="breadcrumb-item"><a href="#">Competitor</a></li>
            <li class="breadcrumb-item"><a href="#">Competitor Product</a></li>
            <li class="breadcrumb-item active" aria-current="page">Scrap Summary</li>
          </ol>
        </nav>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Card</a></li>
            <li class="breadcrumb-item"><a href="#">table</a></li>
            <li class="breadcrumb-item"><a href="#">Client Card</a></li>
            <li class="breadcrumb-item"><a href="#">Competitor</a></li>
            <li class="breadcrumb-item"><a href="#">Competitor Product</a></li>
            <li class="breadcrumb-item"><a href="#">Scrap Summary</a></li>
            <li class="breadcrumb-item active" aria-current="page">Product List</li>
          </ol>
        </nav>
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="/">Card</a></li>
            <li class="breadcrumb-item"><a href="/tableComponent">table</a></li>
            <li class="breadcrumb-item"><a href="cliendcard">Client Card</a></li>
            <li class="breadcrumb-item"><a href="/competitor">Competitor</a></li>
            <li class="breadcrumb-item"><a href="/CompetitorproductComponent">Competitor Product</a></li>
            <li class="breadcrumb-item"><a href="#scrap-summary">Scrap Summary</a></li>
            <li class="breadcrumb-item"><a href="#">Product List</a></li>
            <li class="breadcrumb-item active" aria-current="page">Chart</li>
          </ol>
        </nav> -->
      </div>
    </div>
  </div>
</div>
